@media(max-width:1200px ){
    .container{
        width: 90%;
    }
    .galery_item{
        flex-direction: column;
    }
    .galery_item:nth-child(2){
        flex-direction: column-reverse;

    }
    .galery_item img{
        width: 100%;
        flex-grow: 1;
    }
    .galery_item h3{
        margin: 0;
        padding: 10px 0px;
        flex-grow: 0;
        
    }

}
@media(max-width:425px){
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 20px;
    }
    .header{
        flex-direction: column;
        justify-content: center;
    }
    .menu-list{
        flex-direction: column;
        font-size: 20px;
        
    }
    .menu-list a{
        font-size: 18px;
    }
    .slogan h1{
        padding-top:140px;
    }
    .wrap {
        flex-direction: column;

    }
    .marketing{
        width: 100%;
        margin-top: 30px;
    }
    .marketing p{
        font-size:5vw;
    }
    .temperature-title{
        font-size: 18px;
    }
    .footer{
        flex-direction: column;
        padding:21px;
    }
    .footer-list{
        margin: 10px 0px;
    }
}